h2{
  margin-bottom: 0px;
  margin-right: 20px;
}

img{
  height: 200px;
  width: auto;
}

.img-replacement {
  height: 200px;
  width: auto;
  font-size: 200px;
  opacity: 0.5;
}

.overview-container{
  margin-left: 20px;
}
