<div class="card-wrapper" (mouseenter)='hoveredCard = true' (mouseleave)='hoveredCard = false'>
  <mat-icon (click)='viewDetails(game.gameId)' matTooltip='View details' class='details' [ngClass]="{'details-hover': hoveredCard, 'opacity-none': !hoveredCard}">details</mat-icon>
 <mat-icon matTooltip='Delete from collection' class="delete" [ngClass]="{'delete-hover': hoveredCard, 'opacity-none': !hoveredCard}"
  (click)='delete(game.gameId)'>
  delete
</mat-icon>
 <img *ngIf="game.imageUrl" src={{game.imageUrl}}/>
 <mat-icon class="img-replacement" *ngIf="!game.imageUrl">videogame_asset</mat-icon>
 <mat-divider></mat-divider>
 <div class="text-container">
   <h4 matTooltip='{{game.title.length > 19? game.title : ""}}'>{{game.title || 'No title' | truncate: [20]}}</h4>
   <p  matTooltip='{{game.platform.length > 19? game.platform : ""}}'>
     Platform: {{game.platform || 'N/A' | truncate: [20]}}
  </p>
 </div>
</div>
