.cursor-pointer {
  cursor: pointer !important;
}

.display-flex{
  display: flex !important
}

.justify-between{
  justify-content: space-between !important;
}

.justify-center{
  justify-content: center !important;
}

.align-center{
  align-items: center !important;
}

.direction-column{
  flex-direction: column !important;
}



