.cursor-pointer {
  cursor: pointer !important;
}

.display-flex{
  display: flex !important
}

.justify-between{
  justify-content: space-between !important;
}

.justify-center{
  justify-content: center !important;
}

.align-center{
  align-items: center !important;
}

.align-baseline{
  align-items: baseline !important;
}

.direction-column{
  flex-direction: column !important;
}

.wrap{
  flex-wrap: wrap !important;
}

.full-flex{
  flex: 1 1 auto;
}

.page-wrapper{
  padding: 20px 50px;
}

.opacity-none{
  opacity: 0 !important;
}

.p-2{
  padding: 20px !important;
}

.pb-2{
  padding-bottom: 20px !important
}

.mr-2{
  margin-right: 20px !important;
}
